<!--start content-->


<main class="page-content">

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Total Orders</p>
                            <h4 class="mb-0">5.8K</h4>
                            <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>22.5% from last week</span></p>
                        </div>
                        <div class="ms-auto widget-icon bg-primary text-white">
                            <i class="bi bi-basket2"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Total Income</p>
                            <h4 class="mb-0">$9,786</h4>
                            <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>13.2% from last week</span></p>
                        </div>
                        <div class="ms-auto widget-icon bg-success text-white">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Total Views</p>
                            <h4 class="mb-0">875</h4>
                            <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>12.3% from last week</span></p>
                        </div>
                        <div class="ms-auto widget-icon bg-orange text-white">
                            <i class="bi bi-emoji-heart-eyes"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">New Clients</p>
                            <h4 class="mb-0">9853</h4>
                            <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>32.7% from last week</span></p>
                        </div>
                        <div class="ms-auto widget-icon bg-info text-white">
                            <i class="bi bi-people-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!--end row-->

    <div class="row row-cols-1 row-cols-lg-8">
        <div class="col d-flex">
            <div class="card rounded-4 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <h6 class="mb-0">실시간 자재 사용 현황</h6>
                        <div class="fs-5 ms-auto dropdown">
                            <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center">
                            <tbody>
                                <tr>
                                    <td>Direct</td>
                                    <td>$4,5627</td>
                                    <td><i class="bi bi-arrow-up text-success"></i></td>
                                    <td>4.2%</td>
                                </tr>
                                <tr>
                                    <td>Search</td>
                                    <td>$3,6587</td>
                                    <td><i class="bi bi-arrow-up text-success"></i></td>
                                    <td>3.2%</td>
                                </tr>
                                <tr>
                                    <td>Emails</td>
                                    <td>$8,3762</td>
                                    <td><i class="bi bi-arrow-down text-danger"></i></td>
                                    <td>5.2%</td>
                                </tr>
                                <tr>
                                    <td>Socials</td>
                                    <td>$2,1842</td>
                                    <td><i class="bi bi-arrow-up text-success"></i></td>
                                    <td>1.4%</td>
                                </tr>
                                <tr>
                                    <td>Advertisement</td>
                                    <td>$5,2635</td>
                                    <td><i class="bi bi-arrow-down text-danger"></i></td>
                                    <td>2.8%</td>
                                </tr>
                                <tr>
                                    <td>Referrals</td>
                                    <td>$6,3462</td>
                                    <td><i class="bi bi-arrow-up text-success"></i></td>
                                    <td>9.2%</td>
                                </tr>
                                <tr>
                                    <td>Website</td>
                                    <td>$7,2453</td>
                                    <td><i class="bi bi-arrow-up text-success"></i></td>
                                    <td>6.2%</td>
                                </tr>
                                <tr>
                                    <td>Emails</td>
                                    <td>$8,3762</td>
                                    <td><i class="bi bi-arrow-down text-danger"></i></td>
                                    <td>5.2%</td>
                                </tr>
                                <tr>
                                    <td>Referrals</td>
                                    <td>$6,3462</td>
                                    <td><i class="bi bi-arrow-up text-success"></i></td>
                                    <td>9.2%</td>
                                </tr>
                                <tr>
                                    <td>Socials</td>
                                    <td>$2,1842</td>
                                    <td><i class="bi bi-arrow-up text-success"></i></td>
                                    <td>1.4%</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div><!--end row-->


</main>
<!--end page main-->