<!--start content-->
<main class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">전체 작업 현황</div>
    </div>
    <!--end breadcrumb-->

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Total Orders</p>
                            <h4 class="mb-0">5.8K</h4>
                            <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>22.5% from last week</span></p>
                        </div>
                        <div class="ms-auto widget-icon bg-light-primary text-primary">
                            <i class="bi bi-basket2"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Total Income</p>
                            <h4 class="mb-0">$9,786</h4>
                            <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>13.2% from last week</span></p>
                        </div>
                        <div class="ms-auto widget-icon bg-light-success text-success">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Total Views</p>
                            <h4 class="mb-0">875</h4>
                            <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>12.3% from last week</span></p>
                        </div>
                        <div class="ms-auto widget-icon bg-light-orange text-orange">
                            <i class="bi bi-emoji-heart-eyes"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">New Clients</p>
                            <h4 class="mb-0">9853</h4>
                            <p class="mb-0 mt-2 font-13"><i class="bi bi-arrow-up"></i><span>32.7% from last week</span></p>
                        </div>
                        <div class="ms-auto widget-icon bg-light-info text-info">
                            <i class="bi bi-people-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->


    <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-3">
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="mb-0">9853</h4>
                            <p class="mb-1">Total Likes</p>
                        </div>
                        <div class="ms-auto fs-3 text-purple">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </div>
                    </div>
                    <div class="progress mt-3" style="height: 5px;">
                        <div class="progress-bar bg-purple" role="progressbar" style="width: 42%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="mb-0">562</h4>
                            <p class="mb-1">Comments</p>
                        </div>
                        <div class="ms-auto fs-3 text-success">
                            <i class="bi bi-chat-left-text-fill"></i>
                        </div>
                    </div>
                    <div class="progress mt-3" style="height: 5px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 42%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="mb-0">985</h4>
                            <p class="mb-1">Shares</p>
                        </div>
                        <div class="ms-auto fs-3 text-danger">
                            <i class="bi bi-share-fill"></i>
                        </div>
                    </div>
                    <div class="progress mt-3" style="height: 5px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 42%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->


    <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-4">
        <div class="col">
            <div class="card rounded-4 bg-purple">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="mb-0 text-white">9853</h4>
                            <p class="mb-1 text-white">Total Likes</p>
                        </div>
                        <div class="ms-auto fs-3 text-white">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="mb-0 text-white">562</h4>
                            <p class="mb-1 text-white">Comments</p>
                        </div>
                        <div class="ms-auto fs-3 text-white">
                            <i class="bi bi-chat-left-text-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4 bg-orange">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="mb-0 text-white">985</h4>
                            <p class="mb-1 text-white">Shares</p>
                        </div>
                        <div class="ms-auto fs-3 text-white">
                            <i class="bi bi-share-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4 bg-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="mb-0 text-white">689</h4>
                            <p class="mb-1 text-white">Users</p>
                        </div>
                        <div class="ms-auto fs-3 text-white">
                            <i class="bi bi-browser-edge"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->


</main>
<!--end page main-->